#page-landing {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-landing .content-wrapper {
    position: relative;
    width: 100%;
    max-width: 1100px;
    height: 100%;
    max-height: 600px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;            /* Eixo X e Eixo Y */
    background: url('../../images/landing.svg') no-repeat 70% center;
}

#page-landing .content-wrapper main {
    max-width: 350px;
}

#page-landing .content-wrapper main h1 {
    font-size: 76px;
    font-weight: 900;
    line-height: 70px;
}

#page-landing .content-wrapper main p {
    margin-top: 48px;
    font-size: 24px;
    line-height: 34px;
}

.content-wrapper .location {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
    line-height: 34px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.content-wrapper .location strong {
    font-weight: 800;
}

.content-wrapper .enter-app {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80px;
    height: 80px;
    background: #FFD666;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.content-wrapper .enter-app:hover {
    background: #96FEFF;
}

@media (max-width: 1100px) {

    #page-landing .content-wrapper {
        max-width: none;
        padding: 0px 110px;
    }

    .content-wrapper .location {
        right: 110px;
    }

    .content-wrapper .enter-app {
        right: 110px;
    }
}

@media (max-width: 800px) {

    #page-landing .content-wrapper {
        background: none;
        max-width: 900px;
        max-height: 900px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "logo location"
        "main main"
        "enter-app enter-app"
        ;
    }

    #page-landing .content-wrapper img {
        grid-area: logo;
        display: grid;
    }

    #page-landing .content-wrapper main {
        max-width: none;
        grid-area: main;
        display: grid;
    }

    #page-landing .content-wrapper main p {
        margin-top: 50px;
        font-size: 30px;
        line-height: 40px;
    }

    .content-wrapper .location {
        right: 0px;
        grid-area: location;
        display: grid;
    }

    .content-wrapper .enter-app {
        right: 0px;
        grid-area: enter-app;
        display: grid;
        height: 100px;
        width: 100%;
    }
}

@media (max-width: 600px) {

    #page-landing .content-wrapper {
        padding: 25px 20px;
        background: none;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "logo location"
        "main main"
        "enter-app enter-app"
        ;
    }

    #page-landing .content-wrapper img {
        grid-area: logo;
        display: grid;
        width: 100px;
    }

    #page-landing .content-wrapper main {
        grid-area: main;
        display: grid;
    }

    #page-landing .content-wrapper main h1 {
        font-size: 50px;
        line-height: 45px;
    }

    #page-landing .content-wrapper main p {
        font-size: 20px;
        line-height: 20px;
    }

    .content-wrapper .location {
        line-height: 24px;
        width: 100px;
        grid-area: location;
        display: grid;
    }

    .content-wrapper .location strong {
        font-size: 16px;
    }

    .content-wrapper .location span {
        font-size: 13px;
    }

    .content-wrapper .enter-app {
        grid-area: enter-app;
        display: grid;
        height: 65px;
        width: 100%;
    }
}